/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* start editing from here */
a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}

/* text align right */
.txt-lt {
    text-align: left;
}

/* text align left */
.txt-center {
    text-align: center;
}

/* text align center */
.float-rt {
    float: right;
}

/* float right */
.float-lt {
    float: left;
}

/* float left */
.clear {
    clear: both;
}

/* clear float */
.pos-relative {
    position: relative;
}

/* Position Relative */
.pos-absolute {
    position: absolute;
}

/* Position Absolute */
.vertical-base {
    vertical-align: baseline;
}

/* vertical align baseline */
.vertical-top {
    vertical-align: top;
}

/* vertical align top */
nav.vertical ul li {
    display: block;
}

/* vertical menu */
nav.horizontal ul li {
    display: inline-block;
}

/* horizontal menu */
img {
    max-width: 100%;
}

/*end reset*/


/*=============================================================*/


body {
    background: #DDD7C7 url("../images/background.jpg") repeat;
    background-size:contain;
    color: #4D4D4D;
    font: 14px/25px Arial, Helvetica, sans-serif
}

#main {
    margin-top: 3em;
}
#tiles {
    list-style-type: none;
    position: relative; /** Needed to ensure items are laid out relative to this container **/
    margin: 0;
    padding: 0;
}


#tiles li {
    width: 280px;
    display: none;
}
#tiles li img{
    border-top-left-radius:0.2em;
    border-top-right-radius:0.2em;
}
#tiles li.inactive {
    visibility: hidden;
    opacity: 0;
}

#tiles li img {
    display: block;
    width: 100%;
}


.art{
    text-align: center;
    line-height: 2em;
    padding: 20px 20px -15px 20px;
    background-color: #ffffff;
    border-radius: 1em;
    border: 0 solid #dedede;
}

.art h3 {
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 0;
    padding: 5% 0 0 0;
    font-weight: bold;
    font-size: 2em;
}

.art p {
    text-indent:2em;
    line-height: 1.2em;
    font-size: 1.2em;
    text-align: justify;
    padding: 20px;
    margin: 0 auto;
}

.art span{
    font-size: 1em;
    color: #3A3A3A;
}


.blue {background-color: #57A8C1;}
.blue h3{background-color: #57A8C1;color: #fff;  }
.blue p{color: #fff;}
.blue span {color: #fff;}


.black {background-color: #3A3A3A;}
.black h3{background-color: #3A3A3A;color: #CC8828;}
.black  p{color: #fff;}
.black span {color: #fff;}



footer {
    text-align: center;
    font-size: 1.4em;
}

footer a {
    color: #435DC5;
    text-decoration: none;
}


/*---start-wrap----*/
.wrap {
    width: 80%;
    margin: 0 auto;
}

/*---start-header----*/
header {
    margin-bottom: 20px;
}

header .wrap-header {
    text-align: center;
}

header #logo {
    margin: 30px auto 10px auto;
    max-width: 600px;
}

header #logo img {
    display: inline-block;
    border-radius: 30%;

}

header .time {
    width: 80%;
    text-align: center;
    margin: 10px auto 10px auto;
}

.time-font{
    font-family: sans-serif;
    font-weight: bold;
    color: #3A3A3A;

}
.time-out{
    font-size: 2em;
    color: #13ABC7;
}

/*--footer--*/
.footer {
    position: fixed;
    font-size: 2em;
}

.footer p {
    color: #8C8C8C;

}

.footer p a:hover {
    color: #8C8C8C;

}

/*----//End-contact----*/
/*---//End-wrap----*/
/*--media Quries for 1440px-monitors-*/
@media only screen and (max-width: 1440px) and (min-width: 1366px) {
    .wrap {
        width: 85%;
    }
}

/*--//End-media Quries for 1440px-monitors-*/
/*--media Quries for 1366px-monitors-*/
@media only screen and (max-width: 1366px) and (min-width: 1280px) {
    .wrap {
        width: 90%;
    }

    .footer {
        bottom: 0;
        right: 0;
        background: #fff;
        padding: 10px;
    }
}

/*--//End-media Quries for 1366px-monitors-*/
/*--media Quries for 1280px-monitors-*/
@media only screen and (max-width: 1280px) and (min-width: 1024px) {
    .wrap {
        width: 80%;
    }

    .footer {
        bottom: 0;
        right: 0;
        background: #fff;
        padding: 10px;
    }

}

/*--//End-media Quries for 1280px-monitors-*/
/*--media Quries for 1024px-monitors-*/
@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .wrap {
        width: 90%;
    }

    .footer {
        bottom: 0;
        right: 0;
        background: #fff;
        padding: 10px;
    }
}

/*--//End-media Quries for 1024px-monitors-*/
/*--media Quries for 768px-monitors-*/
@media only screen and (max-width: 768px) and (min-width: 640px) {
    .wrap {
        width: 90%;
    }

    .footer {
        bottom: 0;
        right: 0;
        background: #fff;
        padding: 10px;
    }
}

/*--//End-media Quries for 768px-monitors-*/
/*--media Quries for 640px-monitors-*/
@media only screen and (max-width: 640px) and (min-width: 480px) {
    .wrap {
        width: 90%;
    }

    #main {
        margin-top: 2.33em;
    }
    .footer {
        bottom: 0;
        right: 0;
        background: #fff;
        padding: 10px;
    }
    .header {
        padding: 1em 0 0.6em;
    }
}
/*--//End-media Quries for 640px-monitors-*/
/*--media Quries for 480px-monitors-*/
@media only screen and (max-width: 480px) and (min-width: 320px) {
    .wrap {
        width: 90%;
    }

    #main {
        margin-top: 3.2em;
    }

    .footer {
        bottom: 0;
        right: 0;
        background: #fff;
        padding: 10px;
    }

    .header {
        padding: 1em 0 0.6em;
    }

}

/*--//End-media Quries for 480px-monitors-*/
/*--media Quries for 320px-monitors-*/
@media only screen and (max-width: 320px) and (min-width: 240px) {
    .wrap {
        width: 90%;
    }
    #main {
        margin-top: 3em;
    }
    .footer {
        bottom: 0;
        right: 0;
        background: #fff;
        padding: 5px 10px;
    }

}

/*--//End-media Quries for 320px-monitors-*/